/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


.box {
	width: 500px;
	height: 500px;
	margin: 100px auto;
	border: 1px dashed grey;
	background-image:url(images/siroke.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}

/* ------------------------------------ */



